.wrapper {
  height: 5rem;
  background-color: #0d1b2a;
  width: 100%;
  display: flex;
  align-items: center;
  grid-column: 1 / -1;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

@media (max-width: 422px) {
  .wrapper {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .buttonsContainer {
    margin-left: 0;
  }
}
