.wrapper {
    height: 5rem;
    background-color: #e3e3e3;
    width: 100%;
    display: flex;
    align-items: center;
}

.buttonsContainer {
    display: flex;
}


.image {
    width: 2.5rem;
    height: 2.5rem;
    
}
.button {
    border: none;
    outline: none;
    background: none;
    width: 3rem;
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #f7f6f6;
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 0.4rem;
    --color_fill: #464545
}

.button:hover {
    cursor: pointer;
    background: #007bff;
    --color_fill: #fff
}
.button_disabled {
    cursor: not-allowed;
    background: #bfbfbf;
}


.search {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 300px;
    margin-left: auto;
  }
  
  .search input[type="text"] {
    flex: 1;
    border: none;
    margin-right: 5px;
    font-size: 16px;
    outline: none;
    padding-left: 2rem;
  }
 
  .searchIcon {
    position: absolute;
    left: 10px;
    --color_fill: #ccc;
    width: 1.3rem;
    height: 1.3rem;
  }
  
  .searchIcon svg {
    width: 1.3rem;
    height: 1.3rem;
  }