.listItem {
  max-width: 20rem;
  width: 100%;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
  color: #e0e1dd;
}
.title {
  font-size: 1.2rem;
  margin: 0;
  max-width: 10rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dateTextContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 0.3rem;
}
.dateTextContainer p:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dateTextContainer p {
  max-width: 10rem;
}
.listItem:hover,
.selected {
  background-color: #1b263b;
  cursor: pointer;
}

@media (max-width: 740px) {
  .title {
    font-size: 1rem;
    max-width: 5rem;
  }
  .dateTextContainer p {
    max-width: 5rem;
    margin: 0.1rem;
  }
  .dateTextContainer {
    flex-wrap: wrap;
  }
}
@media (max-width: 400px) {
  .title {
    max-width: 3rem;
    white-space: pre-wrap;
  }
  .dateTextContainer {
    max-width: 4rem;
  }
  .dateTextContainer p {
    white-space: pre-wrap;
  }
}
