.sidebar {
  width: 100%;
  background-color: #0d1b2a;
  grid-column: 1 / 2;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 81px);
}
.sidebar ul {
  margin: 0;
  padding: 0;
}
.sidebar ul li {
  list-style-type: none;
}
.sidebar::-webkit-scrollbar {
  background: #0d1b2a;
  width: 0.5rem;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #415a77;
  outline: none;
}

@media (max-width: 550px) {
  .sidebar {
    width: 100%;
    grid-column: 1 / -1;
    height: auto;
  }
  .sidebar ul {
    display: flex;
    overflow-x: scroll;
  }
  .sidebar ul::-webkit-scrollbar {
    background: #0d1b2a;
    height: 0.5rem;
  }
  .sidebar ul::-webkit-scrollbar-thumb {
    background: #415a77;
    outline: none;
  }
}
